:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #0f172a; /* Derin Gece Mavisi / Koyu Arka Plan */
  color: #f8fafc; /* Bembeyaz Ana Yazı Renkleri */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a;
}